$indigo: #3F51B5;
$blue-grey: #607D8B;

.add-car-button {
  position: relative;
  // right: 20px;
  top: -45px;
  left: 60px;
  margin-bottom: -30px;
}

.parent {
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

md-list-item {
  transition: all 0.3s ease-in-out;
}

md-list-item:hover {
  // background-color: $blue-grey;
}

.item-chip {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid $blue-grey;
  background-color: $indigo;
  color: white;
  text-align: center;
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  line-height: 4rem;
  font-size: 2.2rem;
}

.report-title {
  color: white;
  background: $indigo;
  padding: 10px 0;
  transition: all 0.15s ease-in-out;
}
