<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start">
      <div class="breadcrumb" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s16"></md-icon>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">Dealers</span>
      </div>

      <div class="title">Dealers</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <div layout="row" layout-align="start center">
      <!-- <md-button class="md-raised" ng-click="vm.showAddDate($event)">Añadir nueva fecha</md-button>
      <md-input-container class="no-errors-spacer" flex="40" md-no-float>
        <label>Dealer</label>
        <md-select ng-model="vm.selectedDealer">
          <md-option ng-value="dealer" ng-repeat="dealer in vm.dealers">{{ dealer.name }}</md-option>
        </md-select>
        </md-select>
      </md-input-container> -->
    </div>

    <!-- <div layout="row" layout-align="start center"> -->
      <md-button class="md-accent add-car-button md-raised" ng-click="vm.showCreateForm()">
        Agregar Dealer<md-icon md-font-icon="icon-plus"></md-icon>
      </md-button>
    <!-- </div> -->

    <!-- <md-button class="add-car-button md-fab md-warn" ng-click="vm.addEvent($event)"
               aria-label="Add event" translate translate-attr-aria-label="CALENDAR.ADD_EVENT">
        <md-icon md-font-icon="icon-plus"></md-icon>
    </md-button> -->

    <div class="white-bg md-whiteframe-2dp">
      <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
        <thead>
          <tr>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">id</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Nombres</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Apellidos</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Email</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Longitud</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">latitude</span>
              </div>
            </th>
            <th class="secondary-text">
              <div class="table-header">
                <span class="column-title">Acciones</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dealer in vm.dealers">
            <td>{{dealer.id_dealer}}</td>
            <td>{{dealer.nombres}}</td>
            <td>{{dealer.apellidos}}</td>
            <td>{{dealer.email}}</td>
            <td>{{dealer.latitude}}</td>
            <td>{{dealer.longitude}}</td>
            <td layout="row">
              <md-button class="md-raised" ng-click="vm.showEditForm(dealer, $event)">Modificar</md-button>
              <md-button class="md-raised" ng-click="vm.destroy(dealer)">Eliminar</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- / CONTENT -->
</div>
