.add-car-button {
  position: relative;
  // right: 20px;
  top: -45px;
  left: 60px;
  margin-bottom: -30px;
}

.location-text {
  margin-top: -15px;
}

.map-container {
  transition: all 0.3s ease-in-out; 
}
